@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Kanit&family=Montserrat:wght@900&family=Nunito:wght@700&family=Open+Sans&family=Ubuntu:wght@700&family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Gluten:wght@200;500&family=Kanit&family=Montserrat:wght@900&family=Nunito:wght@700&family=Open+Sans&family=Ubuntu:wght@700&family=Wallpoet&family=Yatra+One&display=swap');
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #1e1e1e;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #b3b3b3;
}

header {
    background-color: #121212;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Gluten', cursive;
    background-image: radial-gradient(circle at 50% -20.71%, #ff86bd 0, #ff86ac 5%, #ff889c 10%, #ff8b8d 15%, #ff907e 20%, #ff956f 25%, #ff9c62 30%, #ffa256 35%, #ffa84c 40%, #ffaf43 45%, #f2b53c 50%, #e4bb38 55%, #d5c038 60%, #c6c53b 65%, #b5ca41 70%, #a3ce4a 75%, #91d155 80%, #7cd462 85%, #64d770 90%, #44d97f 95%, #00db8f 100%);
}

.link-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

ul a {
    background-image: linear-gradient(180deg, #b4f2a0 0, #a1ec9c 16.67%, #89e397 33.33%, #6cd890 50%, #49cd8a 66.67%, #10c488 83.33%, #00bd88 100%);
    text-decoration: none;
    color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: color 0.2s ease-in-out;
}




#main-content {
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main{
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    justify-content: space-evenly;
    flex: 2;
}

.test {
    width: 60%;
    justify-content: center;
    height: 200px;
    flex: 1;
}

.test, .container{
    background-color: #282828;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.title-block{
    margin-bottom: 20px;
    font-size: 1rem;
}

#urlInput,
#fetchColorsButton,
#testInput,
#testButton {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 0.25rem;
    font-family: 'Nunito', sans-serif;
    border: 1px solid #363636;
    margin-bottom: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#urlInput:focus,
#testInput:focus {
    border-color: #b3b3b3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(179, 179, 179, 0.589);
}

#fetchColorsButton,
#testButton {
    background-color: #1db954;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

#fetchColorsButton:hover,
#testButton:hover {
    background-color: #1ed760;
}

#colorsContent{
    background-color: #282828;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 5px;
    display: none;
    width: 80%;
}

.color-box {
    width: 50px;
    height: 50px;
    margin: 15px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.color-box:hover {
    transform: scale(1.3);
    cursor: pointer;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

#copyNotification {
    display: none;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    animation: fadeInOut 2s ease-in-out;
}

.loading-indicator {
    display: none;
    text-align: center;
    padding: 20px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1ed760;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 539px) {

    header{
        align-items: center;
    }
    header nav{
        display: none;
    }
    .logo{
        font-size: 80%;
    }

    #main-content{
        flex-direction: column;
        margin: 10px;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }
    .test, .container, #colorsContent{
       width: 100%;
    }
    #colorsContent{
        text-align: center;
    }
}

@media screen and (min-width: 540px) and (max-width: 895px) {

    .logo{
        font-size: 80%;
    }
    #main-content{
        flex-direction: column;
        margin: 10px;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }

    .test, .container, #colorsContent{
       width: 70%;
    }

    #colorsContent{
        text-align: center;
    }
}